    <!-- JS -->
    <script src="/public/jquery/jquery.min.js"></script>

    <!-- below links for profile --> 
	<!-- jQuery -->
	<script src="/public/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/public/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/public/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/public/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="/public/js/jquery.stellar.min.js"></script>
	<!-- Easy PieChart -->
	<script src="/public/js/jquery.easypiechart.min.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="/public/js/google_map.js"></script>
	
	<!-- Main -->
	<script src="/public/js/main.js"></script>
    </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>