<style>
    #content-right {
        position: relative;
    }
    #content-right h4 {
        position: absolute;
        top: 0px;
        right: 0px;
    }
    #content-left {
        position: relative;
    }
    #content-left h4 {
        position: absolute;
        top: 0px;
        left: 0px;
    }

</style>
<div class="container">
    <div class="row">
        <div id="content-left">
            <span>
                <h4>
                    <span>
                        <a style="color: black;" href="/" >Home</a> /
                        <a style="color: black;" href="/about" >About</a> / 
                        <a style="color: black;" href="/experience" >My Resume</a> /
                        <a style="color: black;" href="/contact" >Contact Us</a> 
                    </span>
                </h4>
            </span>
        </div>
        <div id="content-right">
                <h4>
                    <span>
                        <a style="color: black;" href="/register" >Register</a> /
                        <a style="color: black;" href="/login" >Login</a> /
                        <a style="color: black;" href="/logout" >Logout</a>
                    </span>
                </h4>
        </div>
    </div>
</div>
<br/>
